form {
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 6px;
  font-size: 1em;
}

button {
  padding: 8px 12px;
  font-size: 1em;
  background-color: #05181a;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0071b3;
}


/* Default Light Theme */
body {
  background-color: #f4f4f4;
  color: #333;
}

/* Dark Theme */
body.dark-theme {
  background-color: #121212;
  color: #f1f1f1;
}

button {
  margin-top: 10px;
}


h2 {
  color: #8d1f49;
  background-color: #f5d9d9;
  padding: 10px;
} 


.message-container {
  max-width: 800px;  /* limit the width */
  margin: 0 auto;    /* center the content */
  padding: 20px;     /* add spacing around */
  line-height: 1.6;  /* improve readability */
  font-size: 16px;
  background-color: #f5d9d9;
  padding: 30px;
  border-radius: 70px;
}
