
<h2>My Contact</h2>

<div class="contact-container">
  <h3>Email</h3>
  <ul>
    <li *ngFor="let email of emails">
      <a [href]="'mailto:' + email">{{ email }}</a>
    </li>
  </ul>
  <hr>

  <h3>Phone</h3>
  <ul>
    <li *ngFor="let phone of phoneNumbers">{{ phone }}</li>
  </ul>
  <hr>

  <h3>LinkedIn</h3>
  <p>
    <a [href]="linkedInUrl" target="_blank">Visit my LinkedIn Profile</a>
  </p>
  <hr>

  <h3>XING</h3>
  <p>
    <a [href]="XINGUrl" target="_blank">Visit my XING Profile</a>
  </p>
  <hr>
</div>



