<p>My Tech Stack <br>
<br>Backend:<br>
➔ Fundamentals: Linux, Version Control, Programming, Web Development, Agile Methodologies<br>
➔ Python: Core Python, Text Handling, Dates, Collections, Control Structures (Statements and Loops), Functions, Logical and Algorithmic Thinking, Debugging, Object-Oriented Programming (Basics and Advanced), Exception Handling, Testing, Coding Standards, File I/O, Libraries<br>
➔ Databases: Database usage in Python, Advanced SQL, Data Consistency, Basic Performance Optimization<br>
➔ Frameworks: ORM, Django (Admin, Views & Templates, Forms, Sessions, Middleware), Django Logging & Custom Commands, Django Testing<br>
➔ APIs: API Basics, REST API<br>
➔ Cloud Services: AWS, GCP<br>
➔ Professional German Language Training<br>

<br>including,<br>

<br>Frontend:<br>
➔JavaScript with React and TypeScript using Angular</p>

