<!-- <p>My Tech Stack <br>
<br>Backend:<br>
➔ Fundamentals: Linux, Version Control, Programming, Web Development, Agile Methodologies<br>
➔ Python: Core Python, Text Handling, Dates, Collections, Control Structures (Statements and Loops), Functions, Logical and Algorithmic Thinking, Debugging, Object-Oriented Programming (Basics and Advanced), Exception Handling, Testing, Coding Standards, File I/O, Libraries<br>
➔ Databases: Database usage in Python, Advanced SQL, Data Consistency, Basic Performance Optimization<br>
➔ Frameworks: ORM, Django (Admin, Views & Templates, Forms, Sessions, Middleware), Django Logging & Custom Commands, Django Testing<br>
➔ APIs: API Basics, REST API<br>
➔ Cloud Services: AWS, GCP<br>
➔ Professional German Language Training<br>

<br>including,<br>

<br>Frontend:<br>
➔JavaScript with React and TypeScript using Angular</p>
 -->

 <div class="about-container">
  <p>About Me</p>
  <!-- <p>My Tech Stack <br><br>
    <strong>Backend:</strong><br>
    ➔ Fundamentals: Linux, Version Control, Programming, Web Development, Agile Methodologies<br>
    ➔ Python: Core Python, Text Handling, Dates, Collections, Control Structures (Statements and Loops), Functions, Logical and Algorithmic Thinking, Debugging, Object-Oriented Programming (Basics and Advanced), Exception Handling, Testing, Coding Standards, File I/O, Libraries<br>
    ➔ Databases: Database usage in Python, Advanced SQL, Data Consistency, Basic Performance Optimization<br>
    ➔ Frameworks: ORM, Django (Admin, Views & Templates, Forms, Sessions, Middleware), Django Logging & Custom Commands, Django Testing<br>
    ➔ APIs: API Basics, REST API<br>
    ➔ Cloud Services: AWS, GCP<br>
    ➔ Professional German Language Training<br><br>

    including,<br><br>

    <strong>Frontend:</strong><br>
    ➔ JavaScript with React and TypeScript using Angular
  </p> -->
   <p>
    <strong>Hello</strong><br><br>
   My name is Julie. I hold a Bachelor’s degree in Computer Science and completed a technical training in Python Backend Programming at the Digital Career Institute (DCI), Germany.<br><br>
   I am passionate about learning new technologies. So, I undertook self-study in JavaScript using React, which I applied, together with Django REST API, to build a fullstack web application for my final project at DCI - Product Review: https://github.com/nkemdilimjulie/Product-Review-code and TypeScript with Angular which I used to design my Portfolio: https://github.com/nkemdilimjulie/nkemdilimjulie-portfolio.<br><br>
   What empower me to work effectively in a diverse and agile team is my excellent communication skills in both German and English language, intercultural sensitivity and empathy. For my other skills, you can check on me in LinkedIn: https://www.linkedin.com/in/nkemdilim-julie-chime-13a755339/.<br><br>
   I look forward to be given the opportunity to bring my talent of problem solving into your company.<br><br>
   Thanks a lot for your time.<br><br>
   <strong>Julie</strong><br>
    
  </p>
</div>
