<!-- <nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/projects" routerLinkActive="active">Projects</a>
  <a routerLink="/contacts" routerLinkActive="active">Contact</a>
</nav>

<router-outlet></router-outlet> -->


<h1>Nkemdilim Julie Chime Portfolio</h1>

<nav>
  <a routerLink="/">Home</a> |
  <a routerLink="/about">About Me</a> |
  <a routerLink="/contacts">My Contact</a>
  <a routerLink="/projects">Projects</a> |
  <a routerLink="/tech-stack">Tech Stack</a> 
  <!-- <a routerLink="/send-message">Send Message</a> -->
</nav>



<router-outlet></router-outlet>


