h1 {
  color: #8a2323;
}

nav {
  background: #47e5eb;
  padding: 10px;
  display: flex;
  gap: 20px;
}
a {
  color: white;
  text-decoration: none;
}
a.active {
  font-weight: bold;
  text-decoration: underline;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #1f548d;
}

nav a:hover {
  text-decoration: underline;
}
