<h2>My Tech Stack</h2>

<div class="right">
  <p class="point">I absorbed the following professional knowledge from Digital Career Institute (DCI), Berlin, Germany</p>
  <strong class="point1">Backend:</strong>
  <ul>
    <li>Fundamentals: Linux, Version Control, Programming, Web Development, Agile Methodologies</li>
    <li>Python: Core Python, Text Handling, Dates, Collections, Control Structures, Functions, Logical and Algorithmic Thinking, Debugging, Object-Oriented Programming, Exception Handling, Testing, Coding Standards, File I/O, Libraries</li>
    <li>Databases: Database usage in Python, Advanced SQL, PostgreSQL, psycopg (PostgreSQL adapter for Python), Sqlite, Data Consistency, Basic Performance Optimization</li>
    <li>Frameworks: ORM, Django, Django Logging & Custom Commands, Django Testing</li>
    <li>APIs: API Basics, REST API</li>
    <li>Cloud Services: AWS, GCP</li>
    <li> Version Control: Git, GitHub</li>
    <li> CI/CD: GitHub Actions </li>
    <li> Testing: Django Test Framework, Postman (for API testing)</li>
    <li> Tools: VS Code, Docker, Docker-compose</li>

  </ul>
  <br>
  <p class="point">I had a self-study on these:</p>
  <strong class="point1">Frontend:</strong>
  <ul>
    <li>JavaScript with React (Vite)</li>
    <li>JavaScript with React (Next.js app router)</li>
    <li>TypeScript using Angular CLI Framework</li>
    <li>HTML and CSS - learnt from class work</li>
  </ul>
  
</div>