<!-- <section class="tech-stack">
  <h2>Tech Stack</h2>
  <ul>
    <li><img src="assets/icons/html5.svg" alt="HTML5"> HTML5</li>
    <li><img src="assets/icons/css3.svg" alt="CSS3"> CSS3</li>
    <li><img src="assets/icons/javascript.svg" alt="JavaScript"> JavaScript</li>
    <li><img src="assets/icons/angular.svg" alt="Angular"> Angular</li>
    <li><img src="assets/icons/python.svg" alt="Python"> Python</li>
    <li><img src="assets/icons/django.svg" alt="Django"> Django</li>
  </ul>
</section> -->

<!-- <app-tech-stack></app-tech-stack> -->

<h1>My Tech Stack</h1>

<div class="right">
  <p class="point">I absorbed the following professional knowledge from Digital Career Institute (DCI), Berlin, Germany</p>
  <strong>Backend:</strong>
  <ul>
    <li>Fundamentals: Linux, Version Control, Programming, Web Development, Agile Methodologies</li>
    <li>Python: Core Python, Text Handling, Dates, Collections, Control Structures, Functions, Logical and Algorithmic Thinking, Debugging, Object-Oriented Programming, Exception Handling, Testing, Coding Standards, File I/O, Libraries</li>
    <li>Databases: Database usage in Python, Advanced SQL, Data Consistency, Basic Performance Optimization</li>
    <li>Frameworks: ORM, Django, Django Logging & Custom Commands, Django Testing</li>
    <li>APIs: API Basics, REST API</li>
    <li>Cloud Services: AWS, GCP</li>
    <li>Professional German Language Training</li>
  </ul>
  <br>
  <p class="point">I had a self-study on these:</p>
  <strong>Frontend:</strong>
  <ul>
    <li>JavaScript with React</li>
    <li>TypeScript using Angular</li>
  </ul>
  
</div>