h1 {
    color: #8d1f49;
} 

p {
  font-size: large;
}

.home-container {
  max-width: 800px;  /* limit the width */
  margin: 0 auto;    /* center the content */
  padding: 20px;     /* add spacing around */
  line-height: 1.6;  /* improve readability */
  font-size: 16px;
}

.hello {
  background-color: #f5d9d9;
  padding: 30px;
  border-radius: 70px;
}


.video-intro {
  
  background-color: #f5d9d9;
  padding: 30px;
  border-radius: 70px;

}

.video-boundary {
   background-color: #f5d9d9;
  padding: 50px;
  border-radius: 70px;
}


h1:hover {
  color: rgb(63, 131, 131);
  background-color: #f5d9d9;
}


.video-intro:hover {
  color: rgb(63, 131, 131);
  background-color: #f5d9d9;
}

.hello2:hover {
  color: rgb(14, 106, 226);
}


.container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content:space-evenly;
  padding: 20px;
  flex-wrap: wrap; /* Responsive */
}


.left {
  background-color: #f5d9d9;
  padding: 50px;
  border-radius: 70px;
}



.right {
  background-color: #e9f0ff;
  padding: 30px;
  border-radius: 70px;
}


