
<h1>Welcome to My Portfolio</h1>
<p class="video-intro">
  <!-- vars are defined in  -->
  <a [href]="pitch" target="_blank"> My 1-minute Pitch</a> <br> 
  <a [href]="introVideoUrl" target="_blank"> 1-minute "Motivation By Curiousity"</a> <br>
  <a [href]="tech" target="_blank"> My Skills and Tech Stack in the Last One Year</a> <br>
</p>

<div class="container">
    
  <div class="left">
    <p>
      <strong class="hello2">Hello</strong><br><br>
      I’m a Computer Science graduate with strong backend skills in Python and Django. I’ve built and deployed scalable RESTful APIs using Django REST Framework, PostgreSQL, and token-based authentication. I complement this with frontend skills in React, Next.js, Angular, JavaScript and TypeScript.

        <br><br> Passionate about learning and problem-solving, I built full-stack projects hosted on GitHub Pages. Currently, I have a self-motivated project going on which is a social impact platform to support underprivileged children.

        <br><br> <strong>Tech Stack:</strong> Python | Django | DRF | PostgreSQL | React | Next.js | Angular | Docker | Git | GitHub | CI/CD| Cloud Services | AWS | JavaScript | TypeScript | HTML |CSS |

        <br><br> 📌 For details about me, please check out my <strong>About Me</strong> nav link <br><br>
      <strong class="hello2">Julie</strong><br>
    </p>
  </div>

  <div class="right">
    <iframe src="assets/cv.pdf" width="200%" height="900px" style="border: 1px solid #ccc;">
      Your browser does not support iframes.
    </iframe>
    <br>
  </div>
  
</div>
