<!-- <p>home works!</p>
<p>Hello,<br></p>

<h1>Welcome to My Portfolio</h1>
<!-- <p>Work continues on this website</p> -->


<!-- 
<p>
<br>My name is Julie. I hold a Bachelor’s degree in Computer Science and completed a technical training in Python Backend Programming at the Digital Career Institute (DCI), Germany.<br>

<br>I am passionate about learning new technologies. So, I undertook self-study in JavaScript using React, which I applied, together with Django REST API, to build a fullstack web application for my final project at DCI - Product Review: https://github.com/nkemdilimjulie/Product-Review-code and TypeScript with Angular which I used to design my Portfolio: https://github.com/nkemdilimjulie/nkemdilimjulie-portfolio.<br>

<br>What empower me to work effectively in a diverse and agile team is my excellent communication skills in both German and English language, intercultural sensitivity and empathy. For my other skills, you can check on me in LinkedIn: https://www.linkedin.com/in/nkemdilim-julie-chime-13a755339/. <br>

<br>I look forward to be given the opportunity to bring my talent of problem solving into your company.<br>

<br>Thanks a lot for your time.<br>

<br>Julie</p>  -->
 <h1>Welcome to My Portfolio</h1>
 <div class="home-container">
  <!-- <p>Home</p> -->
  <p class="hello">
    <strong>Hello</strong><br><br>
   My name is Julie. I hold a Bachelor’s degree in Computer Science and completed a technical training in Python Backend Programming at the Digital Career Institute (DCI), Germany.<br><br>
   I am passionate about learning new technologies. So, I undertook self-study in JavaScript using React, which I applied, together with Django REST API, to build a fullstack web application for my final project at DCI - Product Review: https://github.com/nkemdilimjulie/Product-Review-code and TypeScript with Angular which I used to design my Portfolio: https://github.com/nkemdilimjulie/nkemdilimjulie-portfolio.<br><br>
   What empower me to work effectively in a diverse and agile team is my excellent communication skills in both German and English language, intercultural sensitivity and empathy. For my other skills, you can check on me in LinkedIn: https://www.linkedin.com/in/nkemdilim-julie-chime-13a755339/.<br><br>
   I look forward to be given the opportunity to bring my talent of problem solving into your company.<br><br>
   Thanks a lot for your time.<br><br>
   <strong>Julie</strong><br>
    
  </p>
</div>
