<!-- <h2>{{ "Title: " + title }}</h2>
<ul>
  <li *ngFor="let project of projects">
    <a [href]="project" target="_blank">{{ project }}</a>
  </li>
</ul> -->

<h2>{{ title }}</h2>
<ul>
  <li *ngFor="let project of projects">
    <a [href]="project.url" target="_blank">{{ project.title }}</a>
  </li>
</ul>

<p class="point"> <strong>Project Info</strong> </p><br>
<div class="project-container">
  
  <ul>
    <li><strong>Portfolio Project</strong> </li>
    <p><strong>Description:</strong> Portfolio project is a frontend web application that displays all that are needed to be known concerning my person in connection to my software development career. And I am glad to announce that the project is the current running website.<br><strong><br>Goal:</strong> to show-case my projects  <br><strong><br>Tech Stack:</strong> TypeScript with Angular Framework</p>
    <li><strong>Product Review Project</strong> </li>
    <p><strong>Description:</strong> Product Review project is a frontend web application that enables a user to either review a product (in this case, a mobile phone) or to benefit from the list of Reviews contributed by others. The user can also link to mobile phone marketers. <strong><br>Goal:</strong> to channel a user to know the specific phone to buy for a specific need. <br><strong><br>Tech Stack:</strong> JavaScript with React</p>
  </ul>  
</div>