
<h2>{{ title }}</h2>
<div class="container">
    <div class="left">
      <h3>GitHub Links:</h3>
      <ul>
        <li *ngFor="let project of projects">
          <a [href]="project.url" target="_blank">{{ project.title }}</a>
        </li>
      </ul>
      <h3>Project Videos:</h3>
      <p class="reach-out"><strong>(Reach out, if you'd like a live demo)</strong> </p>
    </div>

    <div class="right">
      <p class="point"> <strong>Project Info</strong> </p><br>
      <div class="project-container">
        <ul>
          <li><strong>Portfolio Project</strong></li>
          <a href="https://github.com/nkemdilimjulie/nkemdilimjulie-portfolio" target="_blank" rel="noopener noreferrer">Portfolio</a>
            <p>
              <strong>Description:</strong> Portfolio project is a frontend web application that displays all that are needed to be known concerning my person in connection to my software development career. And I am glad to announce that the project is the current running website.
              <br><strong>Goal:</strong> to show-case my projects <br><strong>Project Story</strong> I had the need to have a Portfolio for my Career field. Good. But I wanted my Portfolio to be developed using a Programming Language I never knew before so as to increase my knowledge. So, I used this project to learn and practice TypeScript with Angular.
              <br><strong>Tech Stack:</strong> TypeScript with Angular Framework
            </p>

          <li><strong>Product Review Project</strong></li>
          <a href="https://github.com/nkemdilimjulie/Product-Review-code" target="_blank" rel="noopener noreferrer">Product Review</a>
            <p>
              <strong>Description:</strong> Product Review project is a frontend web application that enables a user to either review a product (in this case, a mobile phone) or to benefit from the list of Reviews contributed by others. The user can also link to mobile phone marketers. <i class="backend-info"><strong>* Make sure Product Review Backend App is running </strong></i>
              <br><strong>Goal:</strong> to channel a user to know the specific phone to buy for a specific need.<br><strong>Project Story</strong> There came a time during our Final Project that we needed a frontend for the presentation of our group project, I opted to take over the task so as to use the opportunity to learn a new Language. Through this way, I used this project to know and practice JavaScript with React tools (Vite). 
              <br><strong>Project Structure and Designed Presentation:</strong></p>
              <ul>
                <li><a href="https://onedrive.live.com/personal/4ed569f82ce7a97e/_layouts/15/doc.aspx?resid=4d47ad51-b776-40ee-b354-7a439cffe03f&cid=4ed569f82ce7a97e&wdPreviousSession=6d70a223-6b9d-984c-8db9-789368eabd7e&wdNewAndOpenCt=1748351861775&wdo=4&wdOrigin=wacFileNew&wdTpl=blankNew&wdPreviousCorrelation=fe05b4e9-e151-472f-a740-1cb21ffff098&action=editnew&wdnd=1" target="_blank" rel="noopener noreferrer">Product Review Structure</a></li>

                <li><a href="https://onedrive.live.com/personal/4ed569f82ce7a97e/_layouts/15/doc2.aspx?resid=4ED569F82CE7A97E!s3701301ba0ec431d8bc851c6ea26cb08&cid=4ED569F82CE7A97E&migratedtospo=true&app=PowerPoint" target="_blank" rel="noopener noreferrer">View PowerPoint Designed Presentation </a></li>
              </ul>
              <strong>Tech Stack:</strong> JavaScript with React<br><br>
          <li><strong>Product Review Backend Project</strong></li>
          <a href="https://github.com/nkemdilimjulie/Product-Review-Backend-Final-Project" target="_blank" rel="noopener noreferrer">Product Review Backend</a>
            <p>
              <strong>Description:</strong> Product Review Backend project is a backend web application that enables a user to either review a product (in this case, a mobile phone) or to benefit from the list of Reviews contributed by others. The user can also link to mobile phone marketers. <i class="backend-info"><strong>* A user can also use Product Review frontend App to submit reviews </strong></i>
              <br><strong>Goal:</strong> to create a secure database that stores product reviews and product marketers which channel a user to know the specific phone to buy for a specific need.<br><strong>Project Story</strong> Normally, the data of Django projects are stored automatically in dbSqlite Database. For security purpose, I was delighted to change and store data in a different Database system, like PostgreSQL, through this project.
              <br><strong>Project Structure and Designed Presentation:</strong><br> (same as Product Review Project above)<br><strong>Tech Stack:</strong> Python, Django, DRF API, PostgreSQL, Docker, Docker Compose, etc.<br></p>
          <li><strong>World Weather  DRF API Project</strong></li>
          <a href="https://github.com/nkemdilimjulie/weatherworld" target="_blank" rel="noopener noreferrer">World Weather</a>
            <p>
              <strong>Description:</strong> This is a backend Django REST Framework API that surfs current weather information from a weatherstack website <i class="backend-info"><strong>* To find weather situation of any city, add ?city=CityName to my weather domain: http://127.0.0.1:8080/weather/ </strong></i>
              <br><strong>Goal:</strong> World Weather project enables a user to dynamically find the weather condition (example, temperature) of any city in the world using "?city=CityName".<br><strong>Project Story</strong> I was motivated to do this project because I love API projects. An API project is just a call to consume and enjoy a finished work done by another.<br>
              <strong>Tech Stack:</strong> Python, Django, DRF API, PostgreSQL, Docker, Docker Compose, etc.<br><br></p>
          
        </ul>
        
      </div>
    </div>
</div>


